<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>主页一</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{$pubPath}/lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="{$pubPath}/lib/font-awesome-4.7.0/css/font-awesome.min.css" media="all">
    <link rel="stylesheet" href="{$pubPath}/css/public.css" media="all">
</head>
<style>
    .layui-top-box {
        padding: 40px 20px 20px 20px;
        color: #fff
    }

    .panel {
        margin-bottom: 17px;
        background-color: #fff;
        border: 1px solid transparent;
        border-radius: 3px;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
        box-shadow: 0 1px 1px rgba(0, 0, 0, .05)
    }

    .panel-body {
        padding: 15px
    }

    .panel-title {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 14px;
        color: inherit
    }

    .label {
        display: inline;
        padding: .2em .6em .3em;
        font-size: 75%;
        font-weight: 700;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: .25em;
        margin-top: .3em;
    }

    .layui-red {
        color: red
    }

    .main_btn > p {
        height: 40px;
    }
</style>
<body>
<div class="layuimini-container">
    <div class="layuimini-main layui-top-box">
        <div class="layui-row layui-col-space10">

            <div class="layui-col-md3">
                <div class="col-xs-6 col-md-3">
                    <div class="panel layui-bg-cyan">
                        <div class="panel-body">
                            <div class="panel-title">
                                <span class="label pull-right layui-bg-blue">累计</span>
                                <h5>映射统计</h5>
                            </div>
                            <div class="panel-content">
                                <h1 class="no-margins">{$count.article}</h1>
                                <small>当前分类总记录数</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-col-md3" style="display: none">
                <div class="col-xs-6 col-md-3">
                    <div class="panel layui-bg-blue">
                        <div class="panel-body">
                            <div class="panel-title">
                                <span class="label pull-right layui-bg-cyan">累计</span>
                                <h5>浏览统计</h5>
                            </div>
                            <div class="panel-content">
                                <h1 class="no-margins">0</h1>
                                <small>当前分类总记录数</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-col-md3" style="display: none">
                <div class="col-xs-6 col-md-3">
                    <div class="panel layui-bg-green">
                        <div class="panel-body">
                            <div class="panel-title">
                                <span class="label pull-right layui-bg-orange">累计</span>
                                <h5>用户统计</h5>
                            </div>
                            <div class="panel-content">
                                <h1 class="no-margins">0</h1>
                                <small>当前分类总记录数</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md3" style="display: none">
                <div class="col-xs-6 col-md-3">
                    <div class="panel layui-bg-orange">
                        <div class="panel-body">
                            <div class="panel-title">
                                <span class="label pull-right layui-bg-green">累计</span>
                                <h5>留言统计</h5>
                            </div>
                            <div class="panel-content">
                                <h1 class="no-margins">0</h1>
                                <small>当前分类总记录数</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-box">
        <div class="layui-row layui-col-space10">
            <div class="layui-col-md12">
                <blockquote class="layui-elem-quote main_btn" style="">
                    <div style="display: block">
                        <p>EREP内网穿透技术可轻松实现通过IP+端口访问内网数据，在内网中实现网站、OA、ERP、远程桌面、NAS、摄像头等远程访问的应用场景。</p>
                        <p>可根据能力进行二开！</p>
                    </div>
                </blockquote>
            </div>
        </div>
    </div>

    <div class="layui-box">
        <div class="layui-row layui-col-space10">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header"><i class="fa fa-fire icon"></i>版本信息</div>
                    <div class="layui-card-body layui-text">
                        <table class="layui-table">
                            <colgroup>
                                <col width="100">
                                <col>
                            </colgroup>
                            <tbody>

                            {php}
                            $temp=file_get_contents('version');
                            $kj_name=explode(' for ',$temp)[0];
                            $kj_lv=explode(' for ',$temp)[1];
                            {/php}
                            <tr>
                                <td>系统名称</td>
                                <td>
                                    {$kj_name}
                                </td>
                            </tr>
                            <tr>
                                <td>当前版本</td>
                                <td>{$kj_lv}</td>
                            </tr>
                            <tr>
                                <td>主要特色</td>
                                <td>EREP内网穿透技术可轻松实现通过IP+端口访问内网数据，在内网中实现网站、OA、ERP、远程桌面、NAS、摄像头等远程访问的应用场景。
                                </td>
                            </tr>
                            <tr>
                                <td>下载地址</td>
                                <td>
                                    最新版-dev：<a href="https://github.com/EhuaNetwork/EFRP/tree/master" target="_blank">github</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Github</td>
                                <td style="padding-bottom: 0;">
                                    <div class="layui-btn-container">
                                        <iframe src="https://ghbtns.com/github-btn.html?user=EhuaNetwork&amp;repo=EFRP&amp;type=star&amp;count=true"
                                                frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
                                        <iframe src="https://ghbtns.com/github-btn.html?user=EhuaNetwork&amp;repo=EFRP&amp;type=fork&amp;count=true"
                                                frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{$pubPath}lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
</body>
</html>