<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        .Welcome {
            font-weight: 600;
            font-size: 25px;
            margin-bottom: 0px;
            cursor: pointer;
            background-image: -webkit-linear-gradient(bottom, red, #ff5f60, #f0c41b);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            width: 100%;
            text-align: center;
            margin-top: 22%;
        }
    
        a {
            text-decoration: none
        }
    </style>
</head>
<body>
<a href="https://github.com/EhuaNetwork/EFRP" target="_blank">
    <p class="Welcome">
        Welcome to EFRP!
    </p>
</a>
</body>
</html>



